/* color palette: Atomic Firmament */
/* inspired by teamtreehouse.com - */
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  background: #555;
  font-family: 'Lato', sans-serif;
  color: #ccc;
}

canvas {
  background: #fff;
  display: block;
  margin: 2% auto;
  border: 5px solid #000;
  cursor: url(../img/cursor.png), crosshair;
  border-radius: 5%;
}

h1 {
  text-align: center;
  margin-top: 5%;
}

.button {
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: #000;
  color: #fff;
  border: 0;
  height: 20px;
}

button:hover {
  color: #ccc;
}

ul {
	list-style:none;
	margin: 0;
	float: 	left;
	padding: 10px 0 20px;
	width: 100%;
	text-align: center;
}

ul li {
	display:inline-block;
	height: 20px;
	width: 20px;
	cursor: pointer;
	border: 0;
}

.purple {
  background-color: #713181;
}

.red {
  background-color: #E8105A;
}

.blue {
  background-color: #186EB3;
}

.green {
  background-color: #2B9A9F;
}

.yellow {
  background-color: #E2C377;
}
